# Autotools files and directories #
###################################
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
libtool
m4/
missing
stamp-h1
autotools/
